{
  "extends": "airbnb",
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "react/prop-types": 0,
    "react/jsx-one-expression-per-line": 0,
    "object-curly-newline": 0,
  }
}
