$mobileBreakpoint: 600px;
$boldWeight: 500;
$bolderWeight: 600;
$normalWeight: 300;

body {
  background: #f7f7f7;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.1em;
  line-height: 1.5;
}

h1 { font-weight: $boldWeight; }
h2,h3,h3 a,h4,h5,h6 { font-weight: $bolderWeight; }
a,b { font-weight: $normalWeight; }
h3,h4,h5,h6 { 
  margin: 0.6em 0; 
  font-size: 0.95em;
}

a {
  text-decoration: underline;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

#layout-container {
  margin: 1em auto;
  max-width: 650px;
  padding: 1.5em;
  border: 1px solid #efefef;
  background: white;
}

#main-header {
  text-align: center;
  margin-bottom: 1em;
  img.logo {
    max-width: 100%;
    width: 128px;
  }
  h1 {
    margin: 0;
    line-height: 1em;
    small { font-size: 0.6em; }
  }
}

#main-menu {
  margin: 0.5em 0em;
  padding: 0;
  li {
    padding: 0.5em;
    display: inline-block;
    text-transform: capitalize;
  }
}

.content h2 {
  margin-bottom: 0;
}

.item-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  @media only screen and (max-width: $mobileBreakpoint) {
    grid-template-columns: 1fr;
  }
}

.icon-link {
  margin-right: 0.4em;
  img { width: 1em; }
}

.blog-entry {
  margin-bottom: 1em;
  border-bottom: 1px solid rgba(0,0,0,.1);
  > .image {
    float: left;
    margin-right: 1em;
  }
}

.online-presence {
  text-align: center;
  a {
    opacity: 0.5;
    padding: 0.3em;
    font-size: 1.2em;
  }
  a:hover { opacity: 1; }
}
